.App {
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}
p {
  font-size: clamp(2rem, 0.652rem + 1.739vw, 2.5rem);
  max-width: 1200px;
  margin: 0;
}

.button {
  padding: 10px 20px;
  margin: 2px;
  border-radius: 12px;
  border: none;
  background-color: #2779bd;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 300px;
  min-height: 60px;
  min-width: 300px;
  word-break: break-word;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(5px, 1.2vw, 12px);
  margin-top: 12px;
  max-width: 1500px; /* необов'язково — щоб обмежити ширину */
  margin-left: auto;
  margin-right: auto;
}

.button.fixed {
  font-size: clamp(1.5rem, 0.652rem + 1.739vw, 2rem);
  width: 300px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  padding: 10px;
}

.button.finish {
  background-color: #bd276d;
  font-size: 20px;
}

.button.quiz {
  background-color: #08c75e;
}

@media (min-width: 400px) and (max-width: 800px) {
  .button.fixed {
    width: 100%; /* займе ширину контейнера */
  }
}

@media (min-width: 801px) {
  .button.fixed {
    width: 40%;
  }
}

.button:hover {
  background-color: #2779bd;
}

.button.quiz:hover {
  background-color: #08691f;
}

.button.finish:hover {
  background-color: #e810ef;
}

.button:disabled {
  background-color: #cccccc; /* світло-сірий */
  color: #666666;
  cursor: not-allowed;
  opacity: 1; /* залишаємо непрозорість як у активної */
}

.correct {
  background-color: green !important;
  color: white !important;
}

.wrong {
  background-color: red !important;
  color: white !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: white;
  margin-bottom: 16px;
}

.card.stats {
  align-items: flex-start;
}

@media (min-width: 700px) {
  .grid-answers {
    grid-template-columns: repeat(2, 1fr);
  }
}

.upload-box {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #f9f9f9;
}

/* Заборонити курсор-введення для всіх, крім питань */
button,
input,
.button,
.upload-box {
  user-select: none;
  caret-color: transparent;
}

/* Дозволити виділення тексту тільки для тексту питання */
h2,
.card p,
.card strong {
  user-select: text;
  caret-color: transparent; /* курсор не з'являється */
}
